.booking {
  width: 100%;
  min-height: 555px;
  background-image: url("../img/bg/booking-bg.jpg");
  background-color: $color-tangaroa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-resolution: 192dpi) {
  .booking {
    background-image: url("../img/bg/booking-bg@2x.jpg");
  }
}

.booking__container {
  max-width: 1366px;
  width: 100%;
  padding: 50px 163px;
  display: flex;
  align-items: center;
  column-gap: 144px;
}

.booking__text {
  max-width: 493px;
  width: 100%;
}

.booking h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $color-tangaroa;
  margin-top: -7px;
  margin-bottom: 7px;
}

.booking__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-tangaroa;
  margin: 0;
  width: 352px;
}

@media (max-width: $vp-tablet) {
  .booking {
    min-height: 805px;
  }

  .booking__container {
    max-width: 768px;
    padding: 100px 45px;
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }

  .booking__text {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .booking h2 {
    font-size: 34px;
    line-height: 51px;
  }
}


@media (max-width: $vp-mobile) {
  .booking {
    min-height: 760px;
  }

  .booking__container {
    max-width: 767px;
    min-width: 320px;
    width: 100%;
    padding: 65px 15px;
  }

  .booking__text {
    max-width: 270px;
    margin-bottom: 40px;
  }

  .booking h2 {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .booking__text p {
    font-size: 16px;
    line-height: 22px;
    width: 257px;
    text-align: center;
  }
}
