.booking-form {
  width: 403px;
  min-height: 455px;
  background-color: $color-tangaroa;
  padding: 43px 50px;
  position: relative;
}

.booking-form br {
  display: none;
}

.booking-form p {
  font-weight: 500;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 27px;
}

.booking-form input[type="text"]::placeholder,
.booking-form input[type="tel"]::placeholder,
.booking-form input[type="email"]::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(1, 28, 64, 0.7);
}

.booking-form input[type="text"],
.booking-form input[type="tel"],
.booking-form input[type="email"] {
  width: 100%;
  height: 43px;
  padding: 11px 16px;
  border: none;
}

.booking-form input[type="text"],
.booking-form input[type="tel"] {
  margin-bottom: 20px;
}

.booking-form input[type="email"] {
  margin-bottom: 15px;
}

.booking-form input[type="text"]:hover,
.booking-form input[type="tel"]:hover,
.booking-form input[type="email"]:hover {
  outline: 2px solid $color-alice-blue;
}

.booking-form input[type="checkbox"] {
  display: none;
}

.booking-form label[for="agreement"] {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;
  margin-bottom: 32px;
  margin-left: 23px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.booking-form label[for="agreement"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;
  top: -3px;
  left: -23px;
}

.booking-form input[type="checkbox"]:checked + label[for="agreement"]::before {
  background-image: url("../img/svg/done.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.booking-form button[type="submit"] {
  width: 100%;
  background-color: $color-alice-blue;
  padding: 10px 46px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  cursor: pointer;
  border: none;
  user-select: none;
}

.booking-form button[type="submit"]:hover {
  outline: 2px solid $color-alice-blue;
}

.booking-form__error {
  position: absolute;
  bottom: 100px;
  left: 50px;
  color: #ff0000;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: $vp-mobile) {
  .booking-form {
    min-width: 290px;
    width: 100%;
    min-height: 460px;
    padding: 35px 30px;
  }

  .booking-form br {
    display: block;
  }

  .booking-form p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 28px;
    text-align: center;
  }

  .booking-form input[type="email"] {
    margin-bottom: 18px;
  }

  .booking-form label[for="agreement"] {
    margin-bottom: 26px;
    margin-left: 28px;
  }

  .booking-form label[for="agreement"]::before {
    width: 20px;
    height: 20px;
    top: 2px;
    left: -28px;
  }
}
