.cruises-card {
  max-width: 260px;
  width: 100%;
  min-height: 386px;
  background-color: $color-tangaroa;
  padding: 28px 25px 37px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cruises-card h3 {
  color: $color-alice-blue;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.cruises-card b {
  color: $color-alice-blue;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cruises-card p {
  color: $color-quartz;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cruises-card ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 0;
  margin-bottom: 14px;
}

.cruises-card button {
  width: 100%;
  height: 40px;
  background-color: $color-alice-blue;
  padding: 11px 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  cursor: pointer;
  border: none;
}

.cruises-card button:hover {
  outline: 2px solid $color-alice-blue;
}

.cruises-card__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $color-tangaroa;
  top: 0;
  left: 0;
}

.cruises-card__cover img {
  width: 100%;
  height: 100%;
}

.cruises-card__cover span {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;
  position: absolute;
  bottom: 23px;
  left: 30px;
}

.cruises-card:hover .cruises-card__cover,
.cruises-card:focus .cruises-card__cover,
.cruises-card button:hover + .cruises-card__cover,
.cruises-card button:focus + .cruises-card__cover {
  display: none;
}
