.description {
  width: 100%;
  min-height: 559px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__container {
  max-width: 1366px;
  width: 100%;
  padding: 112px 103px 133px;
  display: flex;
  align-items: center;
  column-gap: 7.5%;
}

.description__text {
  max-width: 512px;
  width: 100%;
}

.description h2 {
  color: $color-tangaroa;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 22px;
}

.description p {
  color: $color-tangaroa;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
