.header {
  width: 100%;
  min-height: 108px;
  background-color: $color-transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.header__container {
  max-width: 1366px;
  width: 100%;
  padding: 33px 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  margin-right: 30px;
}

@media (max-width: $vp-tablet) {
  .header {
    min-height: 80px;
  }

  .header__container {
    max-width: 768px;
    padding: 30px 45px;
  }

  .header__logo-link {
    margin-right: 10px;
  }

  .header__logo {
    width: 38px;
    height: 20px;
  }
}


@media (max-width: $vp-mobile) {

}
