.social ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}

.social a:hover {
  outline: 2px solid $color-alice-blue;
}

@media (max-width: $vp-tablet) {
  .social a {
    width: 36px;
    height: 25px;
  }

  .social__img {
    height: 16px;
    width: auto;
  }
}


@media (max-width: $vp-mobile) {
  .social a {
    display: flex;
    justify-content: flex-start;
  }
}
