.title {
  width: 100%;
  min-height: 650px;
  background-image: url("../img/bg/title-bg.jpg");
  background-color: $color-tangaroa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px $color-black-transparent;
}

@media (min-resolution: 192dpi) {
  .title {
    background-image: url("../img/bg/title-bg@2x.jpg");
  }
}

.title__container {
  max-width: 1366px;
  width: 100%;
  padding: 283px 198px;
}

.title h1 {
  color: $color-alice-blue;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-shadow: 0 4px 4px $color-black-transparent;
  margin-bottom: 30px;
}

.title p {
  color: $color-alice-blue;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0 4px 4px $color-black-transparent;
  margin: 0;
}
