.title {
  width: 100%;
  min-height: 650px;
  background-image: url("../img/bg/title-bg.jpg");
  background-color: $color-tangaroa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  // box-shadow: 0 4px 4px $color-black-transparent;
}

@media (min-resolution: 192dpi) {
  .title {
    background-image: url("../img/bg/title-bg@2x.jpg");
  }
}

.title__container {
  max-width: 1366px;
  height: 100%;
  width: 100%;
  padding: 270px 198px 286px;
}

.title h1 {
  color: $color-alice-blue;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-shadow: 0 4px 4px $color-black-transparent;
  margin-top: 0;
  margin-bottom: 12px;
}

.title p {
  color: $color-alice-blue;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0 4px 4px $color-black-transparent;
  margin: 0;
}

@media (max-width: $vp-tablet) {
  .title {
    min-height: 638px;
  }

  .title__container {
    max-width: 768px;
    padding: 280px 134px 280px 45px;
  }

  .title h1 {
    font-size: 50px;
    line-height: 61px;
  }

  .title p {
    font-size: 18px;
    line-height: 22px;
  }
}


@media (max-width: $vp-mobile) {
  .title {
    min-height: 500px;
  }

  .title__container {
    max-width: 767px;
    min-width: 320px;
    padding: 185px 15px;
  }

  .title h1 {
    font-size: 36px;
    line-height: 45px;
  }

  .title p {
    font-size: 16px;
    line-height: 22px;
  }
}
